*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

.container{
    height: 100%;
    width: 100%;
    background-color: var(--background-color);

}

header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}
nav{
    display: none;
    gap: 1.5rem;
}

@media screen and (min-width:768px){
    nav{
        display: flex;
    }
}

.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color:var(--text-color);
    gap:0.625rem;
}

.logo-icon{
    height: 5.875rem;
    width: 1.938rem;
}

.nav-items{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.2s;
}

.nav-items:hover{
    color: var(--link-color);
}

.btn-cu{
    border: none;
    display: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.75rem 1rem;
    transform: all 0.1s;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (min-width:768px){
    .btn-cu{
        display: block;
    }
}

.btn-cu:hover{
    background-color: var(--link-color);
    
}

.menu-icon{
   height: 1.5rem;
   width: 1.5rem;
}

.menu-btn{
    display: none;
    border: none;
    border-radius:0.375rem ;
    background-color: var(--background-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.9rem;
}

@media screen and (max-width:767px){
    .menu-btn{
        display: block;
    }
}

.hero-content{
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 6rem;
    
}

.hero-section{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8rem;
    
}



.h-con-left{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 38%;
    animation: slidein 1.5s ease forwards;
    opacity: 0;
}

@keyframes slidein {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}

.hero-para{
    color: var(--accent-color);
    font-size: 1.15rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.hero-heading{
    font-size: 3.5rem;
    margin-bottom: 20px;
    margin-bottom: 40px;
}

.h-con-right{
    height: 500px;
    width: 40vw;
}

.h-con-rignt img{
    /* height: 69vh;
    width: 35vw; */
    height: 80%;
    width: 100%;
    border-radius: 30px;
}

.hero-text{
    color: var(--text-color);
    margin-bottom: 40px;
    font-weight: 500;
}

.btn{
    display: flex;
    gap: 1.5rem;
}

.btn-{
    padding: 0.75rem 1rem;
    border-radius:0.375rem ;
    border: none;

}

.btn-startnow{
    background-color:var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    color: var(--background-color);
    cursor: pointer;
}

.btn-taketour{
    background-color: var(--dark-gray);
    font-size: 1rem;
    font-weight: 600;
    color: var(--background-color);
    cursor: pointer;
}

@media (max-width:768px) {
    .hero-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30rem;
        
    }

    .h-con-left{
        height: 100%;
        width: 80%;
        text-align: center;
        margin-bottom: 12rem;
    }

    .btn{
        display: flex;
        justify-content: center;
    }

   

    .h-con-right img{
        height: 100%;
        width: 100%;
        padding-left: 10px;
        margin-top: 10rem;
    }

    .trust-box{
        margin-top: 30em;
        
    }


}

@media (max-width:632px) {
    .hero-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 28rem;
        
    }

    .h-con-left{
        height: 100%;
        width: 80%;
        text-align: center;
        margin-bottom: 12rem;
    }

    .btn{
        display: flex;
        justify-content: center;
    }

    .h-con-right{
        display: flex;
        justify-content: center;
        
    }

    .h-con-right img{
        height: 100%;
        width: 100%;
    }
}

@media (max-width:390px){
    .hero-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20rem;
        
    }

    .h-con-left{
        height: 100%;
        width: 80%;
        text-align: center;
        margin-bottom: 14rem;
    }

        
    .h-con-right img{
        height: 100%;
        width: 100%;
        margin: 0px auto
    }
}

.trust-box{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.trust-img-box{
    height: 5em;
    width: 40em;
    background-color: var(--light-gray);
    border-radius:0.625rem  ;
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: center;
}

.trust-img{
    height: 12vh;
    width: 30px;
}

.company{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: #9da4b0;
    font-weight: 600;
}

.card-section{
    width: 100%;
    height: 130vh;
    background-color: var(--light-gray);
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.card-container{
    width: 50%;
    height: 100%;
    
}

.card-para-cont{
    height: 10em;
    width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.card-para-cont p{
    color: var(--text-color);
    font-weight: 600;
}

.card-box-cont{
    height: 43em;
    width: 42em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    place-items: center;
}

.card{
    height: 12em;
    width: 18em;
    border-radius:0.625rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: white;
    padding: 0.5em;
}

.card p{
    text-align: center;
    font-size: small;
    font-weight: 600;

}

.icon-cont{
    height: 2.7em;
    width: 2.7em;
    border-radius: 50%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img{
    height: 1.2em;
}

.card:nth-child(1){
    background-color: #4a90e2;
}

.card:nth-child(2){
    background-color: #FF6289;
}

.card:nth-child(3){
    background-color: #fcbf58;
}

.card:nth-child(4){
    background-color: #44bfc3;
}

.card:nth-child(5){
    background-color: #77b05d;
}

.card:nth-child(6){
    background-color: #7d78b1;
}

.testimonial-section{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.testimonial-box{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.test-para{
    height: 4em;
    width: 17em;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.test-box{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
    place-items: center;
}

.box{
    height: 13em;
    width: 22em;
    border-radius:0.625rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
    /* background-color: var(--light-gray); */
    padding: 0.8em;
    border: 2px solid var(--light-gray);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.box:hover{
    transform: scale(1.02);
}


.test-text{
    font-size: small;
    color: var(--gray);
    text-align: center;
    font-weight: 600;
}

.test-img{
    height: 3em;
}
.test-avt-name{
    font-size:medium;
    color: var(--accent-color);
    font-weight: 600;
}
.test-avt-prof{
    font-size: smaller;
    color: var(--gray);
    font-weight: 600;

}